.color-square {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 2vh;
    
}

.red {
    background-color: $base-red;
    left: 47vw;
}

.blue {
    background-color: $base-blue;
    left: 49vw;
}

.yellow {
    background-color: $base-yellow;
    left: 51vw;
}

.green {
    background-color: $base-green;
    left: 45vw;
}