$base-green: rgb(78,125,37);
$base-red: rgb(238,44,29);
$base-yellow: rgb(217,215,49);
$base-blue: rgb(62,204,221);
$base-beige: #9b9b75;
$base-grey: #808080;

.red {
    background-color: $base-red;
}
.blue {
    color: $base-blue;
}
.yellow {
    color: $base-yellow;
}
.green {
    color: $base-green;
}
