$base-green: rgb(78,125,37);
$base-red: rgb(238,44,29);
$base-yellow: rgb(217,215,49);
$base-blue: rgb(62,204,221);

$base-beige: #9b9b75;
$base-grey: #808080;

.red {
    background-color: $base-red;
}

.blue {
    background-color: $base-blue;
}

.yellow {
    background-color: $base-yellow;
}

.green {
    background-color: $base-green;
}

.ye {
    color: $base-yellow;
}

.re {
    color: $base-red;
}

.blu {
    color: $base-blue;
}

.gre {
    color: $base-green;
}

