.flex {
    display: flex;
    flex-wrap: wrap;
}

  .history-ball {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--width)/3);
    height: calc(var(--width)/3);
    margin-bottom: calc(var(--width)/20);
    border-radius: 50%;
    transition: 1s;
    opacity: .8;
    font-size: calc(var(--width)/10);
  }