$hist-ball-font-size: 10px;
$hist-ball-size: $hist-ball-font-size * 4;
$hist-ball-margin: $hist-ball-font-size / 2;

#history {
    background-image: url(../img/nav-menu-baw.jpg);
    position: relative;
  }

.section__main__content--history {
  display: flex;
  flex-wrap: wrap;
  padding: 3vw;
  justify-content: center;
  align-items: center;
}

  .history-modal {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: rgba($base-red, 0.5);
    z-index: 10000;
  }
  
  .span-hist-detail {
    display: none;
  }
  .history-ball {
    display: flex;
    justify-content: center;
    width: $hist-ball-size;
    height: $hist-ball-size;
    margin: $hist-ball-margin;
    border-radius: 50%;
    transition: 1s;
    opacity: .9;

    :hover {
      opacity: .3;
    }
  }

  .hist-par-date {
    font-size: $hist-ball-font-size;
  }

  .hist-item {
    margin: auto 15px;
  }

  .hist-item:hover {
    background-color: rgb(189, 123, 96);
    cursor: pointer;
  }

  @media (min-width: 900px) {
    $hist-ball-font-size: 20px;
  }
