#home {
  background-image: url(../img/main-baw.jpg);
  
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3vh 2vh;
}
 
.main-lang-choice {
    font-size: calc(10px + 1vw);
    font-weight: 600;
    transition: 2s;
  }

.pol {
  opacity: 0.2;
  cursor: default;
}

.deu {
  opacity: 0.8;
  cursor: pointer
}

  .self-made-burger {
    width: 75px;
    cursor: pointer;
    transition: 2s;
  }

  @media screen and (max-width: 350px) {
    .self-made-burger {
      width: 45px;
    }
  }
  
  .container-main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .main-page {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 150px auto;
  }
  
  .main-page-child {
    font-size: calc(10px + 1.6vw);
    font-weight: 600;
    flex: 1;
  }
  
  .main-page-child.title {
    display: flex;
    font-size: calc(18px + 9vw);
    font-stretch: expanded;
    font-weight: calc(600 * 1.5vw);
    margin-bottom: -2.2vw;
  }
  
  #home .section-bg {
    position: relative;
    text-align: center;
  }

  .k1, .o1  {
    color: $base-green;
    padding: 5vh 1vw 0;
    // animation: greenUp infinite ease-out 1s;
  }
  @keyframes greenUp {
    50% { padding-top: 3vh;}
    75% { padding-top: 2vh;}
  }
  .r1, .i1  {
    color: $base-red;
    padding: 3vh 1vw 0;
    // animation: redUp infinite ease-out 2s;
  }
  @keyframes redUp {
    50% { padding-top: 1vh;}
    75% { padding-top: 0vh;}
  }
  .a1, .w1, .k3 {
    color: $base-yellow;
    padding: 5.6vh 1vw 0;
    // animation: yellowUp 2s ease-out 3s;
  }
  @keyframes yellowUp {
    50% { padding-top: 1vh;}
    75% { padding-top: 1vh;}
  }
  .k2, .a2 {
    color: $base-blue;
    padding: 4vh 1vw 0;
    // animation: blueUp infinite ease-out 4s;
  }
  @keyframes blueUp {
    50% { padding-top: 2vh;}
    75% { padding-top: 1vh;}
  }
