#home {
  background-image: url(../img/main-baw.jpg);
}
 
.main-lang-choice {
    font-size: calc(10px + 1vw);
    font-weight: 600;
    margin-top: 12px;
    
  }

.pol {
  opacity: 0.2;
  cursor: default;
  transition: 1s;
}

.deu {
  opacity: 0.8;
  cursor: pointer;
  transition: 1s;
}

  .self-made-burger {
    width: 85px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 2s;
  }

  @media screen and (max-width: 350px) {
    .self-made-burger {
      width: 55px;
    }
  }
  
  .container-main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .main-page {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 150px auto;
  }
  
  .main-page-child {
    font-size: calc(10px + 1.6vw);
    font-weight: 600;
    flex: 1;
  }
  
  .subtitle {
    margin-top: 1vh;
    margin-left: 1vw;
  }
  
  .main-page-child.title {
    display: flex;
    font-size: calc(21px + 9vw);
    font-stretch: expanded;
    font-weight: 900;
  }

  .k1, .o,  {
    color: $base-green;
    padding: 5vh 1vw 0;
    animation: greenUp infinite ease-out 1s;
  }

  @keyframes greenUp {
    50% { padding-top: 3vh;}
    75% { padding-top: 2vh;}
  }

  .r, .i,  {
    color: white;
    padding: 3vh 1vw 0;
    animation: whiteUp infinite ease-out 2s;
  }

  @keyframes whiteUp {
    50% { padding-top: 1vh;}
    75% { padding-top: 0vh;}
  }

  .a1, .w, .k3, {
    color: $base-yellow;
    padding: 4vh 1vw 0;
    animation: yellowUp 2s ease-out 3s;
  }

  @keyframes yellowUp {
    50% { padding-top: 1vh;}
    75% { padding-top: 1vh;}
  }

  .k2, .a2 {
    color: $base-blue;
    padding: 4vh 1vw 0;
    animation: blueUp infinite ease-out 4s;
  }

  @keyframes blueUp {
    50% { padding-top: 2vh;}
    75% { padding-top: 1vh;}
  }
  
  #home .section-bg {
    position: relative;
    text-align: center;
  }