@import 'colors';

:root {
  --width: 15vw;
}

.sticky-arrow-up {
    box-shadow: 0 0 0 .2em rgba(white, 0.8);
    border-radius: 50%;
    width: min-content;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1vh;
    opacity: 0.7;
    cursor: pointer;

    .fa-arrow-up {
        padding: 0.5vh 1vh 1vh;
    }
}

  .red {
    background-color: blue;
  }

  .green {
    background-color: $base-green;
  }

  .blue {
    background-color: $base-blue;
  }

  .yellow {
    background-color: $base-yellow;
  }

  .middlesection-main-menu {
    display: flex;
    justify-content: center;
    position: sticky;
    top: calc(var(--width)/-2.3);
    opacity: 0.7;
  }

  .middlesection-main-menu > * + * {
    margin-left: calc(var(--width)/3);
  }

  .menu-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width);
    height: var(--width);
    border-radius: 50%;
    font-size: calc(var(--width)/5);
    z-index: 100;
  }