//photogal-subgalleries

.subgallery {
  background-color: rgba($base-grey,.8);
  padding: 3vmin;
  background-image: url(../img/peacock-feather.svg);
  background-position: center;
  background-size: 50vw;
  background-repeat: no-repeat;

  div {
    margin: 1vh 0;
  }
}

.photogal-header {
  display: flex;
  justify-content: space-between;
  padding: 2vh;
}

.photogal-menu-k {
  max-width: 20%;
  flex: 1;
  cursor: pointer;

  img {
    width: 100%;
  }
}

@media (min-width: 800px) {
  .photogal-menu-k {
    max-width: 12%;
  }
}

.photogal-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: calc(12px + 2.1vw);
}

.photogal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
      margin: 1vw 3vw;
    }
}

@media (min-width: 900px) {
  .photogal-container {
    flex-direction: row;
  }
  .photogal-photos {
    order: 2;
  }
}

.photogal-about {
    background-color: rgba($color: #b37b32, $alpha: .8);

    padding: 1em;
    margin: 15vw;
    flex: 2;
}

.photogal-photos {
    flex: 4;
    padding: 1vh 0;
    background-color: rgba($base-grey,.8);
}

.photogal-photo {
    width: 20vw;
    margin: 1%;
}

// -- // -- //

/* photogallery main page */

#photogallery {
  background-image: url(../img/kubraktylem-baw.jpg);

 a {
    text-decoration: none;
    color: white;
    font-size: calc(20px + 2.3vw);
    font-weight: 800;
    font-stretch: extra-expanded;
    margin: 0 1em 0.5em;
    display: inline-block;
    transition: transform ease-out 800ms;
  }
  
  a:hover {
    transform: rotateX(360deg);
  }
}
  .gal-grupa {
    font-size: calc(10px + 2vw);
    padding: 0;
    margin-bottom: -1.4vw;
  }