@import 'imports';

@font-face {
  font-family: 'Museo Slab';
  src: url(../fonts/Museo_Slab_500.otf);
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: -2px -1px;
  text-align: center;
  color: white;
  font-family: 'Museo Slab';
  font-size: clamp(10px, calc(10px + .5vw), 20px);
  max-height: 100vh;
}

main {
  max-width: 1400px;
}

a {
  color: white;
  text-decoration: none;
}

ul, li {
  margin: 0;
  list-style: none;
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  line-height: .8;
}

.row {
  display: flex;
  align-items: center;
}

/// --- /// --- ///

//middlesection //


/// --- /// --- ///

.main-container {
  width: 100%;
  // max-width: 1600px;
  background-color: $base-grey;
  margin: 0 auto;
}

.main {
  margin-top: 2vh;
}

h2 {
  font-size: calc(30px + 2.2vw);
  font-weight: 600;
  margin-top: 0;
  margin-bottom: -0.8em;
}

.img-responsive {
  width: calc(25px + 9vw);
  height: auto;
}


// -- // quotations // - //

.quotation-container {
  width: 80%;
  max-width: 600px;
  margin: 10vh auto 15vh;
}

blockquote {
  text-align: left;
  font-size: clamp(20px, calc(20px + .5vw), 40px);
  text-indent: 2vw;
  line-height: 1.5;
}

.quotation-author {
  text-align: right;
}

// ----- // ------ //

.footer {
    padding-bottom: 2vh;
}

