@import 'imports';

@font-face {
  font-family: 'Museo Slab';
  src: url(../fonts/Museo_Slab_500.otf);
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  background-color: $base-grey;
  color: white;
  font-family: 'Museo Slab';
  font-size: clamp(10px, calc(10px + .5vw), 20px);
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  line-height: .8;
}

.row {
  display: flex;
  align-items: center;
}

::selection {
  background-color: rgba($base-blue, 0.7);
}

main {
  width: 100%;
  max-width: 100vw;
  // background-color: $base-grey;
  margin: 0 auto;
  overflow-x: hidden;
}

//middlesection //

.midsec {
  margin: 0 auto 10vmax;
}

.midsec__title {
  display: flex;
  justify-content: flex-end;
  font-size: calc(12px + 1.5vw);
  padding-right: 5vw;
  margin-bottom: 3vmax;

  h3 {
    max-width: 40vw;
    text-align: right;
  }
}

.midsec__main {
  max-width: 1600px;
  margin: 3vh auto 12vh;
}

@media (min-width: 430px) {
  .midsec__main {
    display: flex;
    padding: 4vh 3vw;
  }

  .midsec__col {
    flex: 1;
  }

}

.container {
  display: flex;
  flex-flow: column nowrap;
}

.main {
  margin-top: 2vh;
}

h2 {
  font-size: calc(30px + 2.2vw);
  font-weight: 600;
  margin-top: 0;
  margin-bottom: -0.8em;
}

.img-responsive {
  width: calc(25px + 9vw);
  height: auto;
}

///--- quotation ---///

.quotation-container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto 16vmax;
  background-color: rgba($base-yellow, 0.8);
  padding: 1em 0 3em;
  border-radius: 10%;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -42px;
    left: 10%;
    border-top: 50px solid rgba($base-yellow, 0.7);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    transform: rotate(135deg);
  }
}

@media (min-width: 900px) {
  .quotation-container {
    margin: 0 auto 10vmax;
  }
}

blockquote {
  text-align: left;
  font-size: clamp(20px, calc(18px + .5vw), 40px);
  text-indent: 1em;
  line-height: 1.5;

  &::before {
    content: open-quote;
    font-family: 'Catamaran', sans-serif;
    padding-right: 0.1em;

  }

  &::after {
    content: close-quote;
    font-family: 'Catamaran', sans-serif;
  }
}


///--- lines ---///

.horizontal-line {
  width: 80vw;
  height: 0.5vh;
  margin: 0 auto 7vh;
}

.line-dotted {
  border-top: 20px dotted $base-yellow;
}

.line-double {
  border-top: 12px double $base-yellow;
  border-bottom: 12px double $base-yellow;
  border-radius: 5px;
}

.line-dotted-blue {
  border-top: 12px dotted $base-blue;

}

.cutout-container {
  margin: 0 auto 15vmin;
  width: 50%;
  max-width: 600px;

  img {
    width: 100%;
  }
}

///--- footer ---///

footer {
  margin-bottom: 1vh;
}



